@charset "UTF-8";

table {
    width: 480px;
    border: 2px #2b2b2b solid;
}

td {
    text-align: center;
    border: 2px #2b2b2b solid;
}
button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
}